<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/adminMaster::style">
</head>
<title>Add book</title>

<body>

	<div id="wrapper" class="toggled">

		<div th:replace="fragments/adminMaster::sidebar"></div>

		<div id="menu">
			<a href="#menu-toggle" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify"></span>
			</a>
		</div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-primary">
							<div class="panel-heading" th:unless="${param.id}">
								Add Book
							</div>
							<div class="panel-heading" th:if="${param.id}">
								Edit Book
							</div>
							<div class="panel-body">
								<form class="inputForm" th:action="@{/admin/book/save}" enctype="multipart/form-data" method="post" th:object="${book}">
									<div class="col-xs-12 col-sm-3">
										<div class="row">
											<div class="profileContainer">
												<div class="proImgCon">
													<img style="width:200px; height:300px" th:unless="${book.id}" id="blah" th:src="@{/images/book.ico}" />
													<img style="width:200px; height:300px" th:if="${book.id}" id="blah" th:src="${book.thumbnailUrl}"/>
												</div>
												<label class="fileCon"> Choose Image
													<input type='file' name="thumbnail" id="imgInp" />
												</label>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-9">
										<div class="row">
											<div class="col-xs-12 col-md-6">
												<label>ISBN</label><input type="text" th:field="*{isbn}" required="required" placeholder="ISBN" />
												<label>Category</label>
												<select name="categoryId" required="required">
													<option value="">Choose category</option>
													<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}" th:unless="${book.id}">hi</option>
													<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}" th:if="${book.id}" th:attrappend="selected= ${book.category.name==category.name} ? 'selected' : 'false' ">hi</option>

												</select>
												<input type="hidden" th:field="*{id}"/>
												<input type="hidden" th:field="*{thumbnailUrl}"/>
												<label>Amount</label>
												<input type="number" th:field="*{amount}" placeholder="Amount"/>
												<label>Edition</label>
												<input type="number" th:field="*{edition}" placeholder="Edition" />
											</div>
											<div class="col-xs-12 col-md-6">
												<label>Title</label><input type="text" th:field="*{title}" placeholder="Title" />
												<label>Author</label>
												<input type="text" th:field="*{author}" placeholder="Author" />
												<label>PublishYear</label>
												<input type="number" th:field="*{publishYear}" min="1900" max="2017" />
												<label>Description</label>
												<textarea class="textArea" th:field="*{description}"></textarea>
											</div>
											<div class="col-xs-12">
												<button class=" button button-blue">Save</button>
												<button class=" button button-red">Cancel</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!-- Menu Toggle Script -->
	<script>
    /*<![CDATA[*/
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
	    
	    function readURL(input) {
	
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	
	            reader.onload = function (e) {
	                $('#blah').attr('src', e.target.result);
	            }
	
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	
	    $("#imgInp").change(function(){
	        readURL(this);
	    });
    /*]]>*/
    </script>

</body>

</html>
