<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/adminMaster::style">
</head>
<title>Category</title>

<body>

    <div id="wrapper" class="toggled">

        <div th:replace="fragments/adminMaster::sidebar">
        </div>
		<div id="menu">
			<a href="#menu-toggle" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify"></span>
			</a>
		</div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="row text-center" th:if="${param.add}">
							<p class="alert alert-danger" th:if="${#httpServletRequest.getParameter('add')=='fail'}" >category already exists!</p>
							<p class="alert alert-success" th:if="${#httpServletRequest.getParameter('add')=='success'}" >add category success</p>
                      </div>
                      <div class="row text-center" th:if="${param.delete}">
							<p class="alert alert-danger" th:if="${#httpServletRequest.getParameter('delete')=='fail'}" >Category doesn't exist</p>
							<p class="alert alert-success" th:if="${#httpServletRequest.getParameter('delete')=='success'}" >category deleted</p>
                      </div>
                      <div class="panel panel-primary">
                      		<div class="panel-heading">Category</div>
                      		<div class="panel-body">
								<form th:action="@{/admin/category/save}" th:object="${category}">
										<div class="row col-md-6 col-md-offset-3">
											<b style="display:inline">New Category</b>
											<input type="text" th:field="*{name}" value=""/>
											<button  type="submit" class="button button-blue">Add</button>
										</div>
								</form>
                      		</div>
							<form>
								<div class="formFrame">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Category</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="category : ${categories}">
												<td><label th:text="${category.id}"></label></td>
												<td th:text="${category.name}">
												</td>
												<td>
												<button type="button" data-toggle="modal" data-target="#delete" th:attr="data-id=${category.id}" class="button button-red dialog-delete">Delete</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
							<div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
								 <div class="modal-dialog">
									<div class="modal-content">
									 <div class="modal-header">
									    <button class="close" data-dismiss="modal">x</button>
									    <h5>Are you sure want to delete?</h5>
									  </div>
									    <div class="modal-body">
									    <p>This can not be undone. All book in this category will be lost!</p>
									        <form th:action="@{/admin/category/delete}" method="post" style="display:inline">
	                                                <input type="hidden" id="bookId" name="id"/>
	                                                <button type="submit" width="200px" class="button button-red" name="button">Yes</button>
                                            </form>
                                            <button width="200px" class="btn btn-primary" data-dismiss="modal">No</button>
								    </div>
							      </div>
							    </div>
							</div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Menu Toggle Script -->
    <script th:inline="javascript">
	/*<![CDATA[*/
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(document).on("click", ".dialog-delete", function () {
	     var myBookId = $(this).data('id');
	     $(".modal-body #bookId").val( myBookId );
	     $('#delete').modal('show');
	});
    /*]]>*/
    </script>

</body>

</html>
