<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/adminMaster::style">
</head>
<title>Books</title>

<body>

    <div id="wrapper" class="toggled">

        <div th:replace="fragments/adminMaster::sidebar">
        </div>

        <!-- Page Content -->
        <div id="menu">
            <a href="#menu-toggle" id="menu-toggle">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>
        <div id="page-content-wrapper" class="toggle">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row text-center" th:if="${param.save}">
							<p class="alert alert-danger" th:if="${#httpServletRequest.getParameter('save')=='fail'}" >Fail to add new book</p>
							<p class="alert alert-success" th:if="${#httpServletRequest.getParameter('save')=='success'}" >Add book success</p>
                      </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Search Book
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form th:action="@{/admin/search}" method="get">
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-1">
                                                <label for="">Search</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-2">
                                                <input class="form-control" type="text" id="auto" name="query" placeholder="Search"/>
                                            </div>
                                            <div class="col-xs-12 col-sm-2">
                                                <select name="category" id="category">
                                                    <option value="">Select category</option>
                                                    <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}" th:selected="${#httpServletRequest.getParameter('cat') == category.name}"></option>
                                                </select>
                                            </div>
                                            <div class="col-xs-7 col-sm-2 text-right">
                                                <label for="">Search by</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-3">
                                                <select name="type" id="type">
                                                    <option value="title" th:selected="${#httpServletRequest.getParameter('type')=='title'}">Title</option>
                                                    <option value="isbn" th:selected="${#httpServletRequest.getParameter('type')=='isbn'}">ISBN</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-2">
                                                <button type="submit" class="btn btn-primary" style="margin-left:10px">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                      <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Book
                                </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                        	<th>ID</th>
                                            <th class="">ISBN</th>
                                            <th class="">Title</th>
                                            <th class="">Category</th>
                                            <th class="">Total</th>
                                            <th class="">Available</th>
                                            <th class=""></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="book-row" th:each="book,state : ${books}">
                                        	<td>
                                        		<p th:if="${currentPage > 1}" th:text="${((currentPage-1)*15)+state.index+1}"></p>
                                        		<p th:if="${currentPage == 1}" th:text="${state.index+1}"></p></td>
                                            <td><p th:text="${book.isbn}"></p></td>
                                            <td>
                                                <img th:src="${book.thumbnailUrl}" style="display:inline;"/>
                                                <p th:text="${book.title}" style="display:inline;"></p>
                                            </td>
                                            <td th:text="${book.category.name}"></td>
                                            <td><p th:text="${book.amount}"></p></td>
                                            <td><p th:text="${book.available}"></p></td>
                                            <td>
                                                <a th:href="'/admin/book/edit?id='+${book.id}"><button type="button" class="button button-blue" name="button">Edit</button></a>
                                                <button data-toggle="modal" data-target="#delete" th:attr="data-id=${book.id}" class="button button-red dialog-delete">Delete</button>
                                                
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <div th:replace="fragments/adminMaster::pagination"></div>
                                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
									 <div class="modal-dialog">
										<div class="modal-content">
										 <div class="modal-header">
										    <button class="close" data-dismiss="modal">x</button>
										    <h5>Are you sure want to delete?</h5>
										  </div>
										    <div class="modal-body">
										        <form th:action="@{/admin/book/delete}" method="get" style="display:inline">
	                                                 <input type="hidden" id="bookId" name="id"/>
	                                                 <button type="submit" width="200px" class="button button-red" name="button">Yes</button>
	                                             </form>
	                                             <button width="200px" class="btn btn-primary" data-dismiss="modal">No</button>
										    </div>
									      </div>
									    </div>
									</div>
                                </div>
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

	<div th:replace="fragments/master::page-script"></div>
    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
    <script th:inline="javascript">
	/*<![CDATA[*/
	           
	
	$('#auto').keyup(function(){
		var $auto = $('#auto');
		var keyword = $(this).val();
		var category = $('#category').find(":selected").val();
		var type = $('#type').find(":selected").val();
		var array = [] ;
		$.ajax({
	        type: 'GET',
	        url: '/admin/auto-complete?query='+keyword+'&category='+category+'&type='+type,
	        success:function(data){
	        	var obj = jQuery.parseJSON(data);
	        	$.each(obj, function(index, item) {
	        		array.push(item.title);
	       		})
	       		$auto.autocomplete({
				    source: array
				  });
	       	}
	   })
	});
	$(document).on("click", ".dialog-delete", function () {
	     var myBookId = $(this).data('id');
	     $(".modal-body #bookId").val( myBookId );
	     $('#delete').modal('show');
	});
	/*]]>*/
	</script>
</body>

</html>
