<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/adminMaster::style">
</head>
<title>Return book</title>

<body>

    <div id="wrapper" class="toggled">

        <div th:replace="fragments/adminMaster::sidebar">
        </div>
		<div id="menu">
			<a href="#menu-toggle" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify"></span>
			</a>
		</div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    <div class="row text-center" th:if="${param.borrow}">
							<p class="alert alert-danger" th:if="${#httpServletRequest.getParameter('borrow')=='fail'}" >This member already borrowed a book!</p>
							<p class="alert alert-success" th:if="${#httpServletRequest.getParameter('borrow')=='success'}" >Checkout success</p>
                      </div>
                      <div class="row text-center" th:if="${param.paid}">
							<p class="alert alert-success" th:if="${#httpServletRequest.getParameter('paid')=='success'}" >Returned success</p>
                      </div>
                      <div class="row text-center" th:if="${day}">
							<div class="alert alert-danger">
							<p th:text="${'User return book late for '+day+ ' days'}"></p>
							<p th:text="${'Make sure user pay the punishment fee before press the button below'}"></p>
							<p th:text="'Punishment fee: '+${fine}+'riels'"></p>
							<a th:href="${'/admin/return/late/confirm?id='+id}"><button class="btn btn-danger">Approve</button></a>
							</div>
                      </div>
                      <div class="row formFrame inputForm">
                		<table class="table table-striped">
                			<thead>
                				<th class="col-xs-3">ISBN</th>
                				<th class="col-xs-3">Email</th>
                				<th class="col-xs-1">Duration</th>
                				<th class="col-xs-2">Borrow Date</th>
                				<th class="col-xs-2">Due Date</th>
                				<th class="col-xs-1"></th>
                			</thead>
                			<tbody>
                				<tr th:each="borrow : ${borrows}">
	                				<td>
	                					<span th:text="${borrow.book.isbn}">1111-2222</span>
	                				</td>
	                				<td>
	                					<span th:text="${borrow.user.email}">example@gmail.com</span>
	                				</td>
	                				<td>
	                					<span th:text="${borrow.deadline}+' days'">7 Days</span>
	                				</td>
	                				<td>
	                					<span th:text="${#dates.format(#calendars.createForTimeZone(#calendars.year(borrow.borrowDate), #calendars.month(borrow.borrowDate), #calendars.day(borrow.borrowDate),'PST'), 'dd,MMMM,yyyy')}">01/01/2017</span>
	                				</td>
	                				<td>
	                					<span th:text="${#dates.format(#calendars.createForTimeZone(#calendars.year(borrow.dueDate), #calendars.month(borrow.dueDate), #calendars.day(borrow.dueDate),'PST'), 'dd,MMMM,yyyy')}">08/08/2017</span>
	                				</td>
	                				<td>
	                					<form th:action="@{/admin/book/return/confirm}">
	                						<input type="hidden" name="id" th:value="${borrow.id}"/>
	                						<button type="submit" class="button button-blue">Approve</button>
	                					</form>
	                				</td>
                				</tr>
                			</tbody>
                		</table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
