<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/adminMaster::style">
</head>
<title>Students</title>

<body>

    <div id="wrapper" class="toggled">

        <div th:replace="fragments/adminMaster::sidebar">
        </div>
		<div id="menu">
			<a href="#menu-toggle" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify"></span>
			</a>
		</div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="row formFrame">
                      <form th:action="@{/admin/student/search}" method="get">
                      	<table width="100%">
                      		<tr>
                      			<td align="center">Search</td>
                      			<td><input type="text" name="q" placeholder="Search"/></td>
                      			<td align="center">Search by</td>
                      			<td>
                      				<select name="by">
		                      			<option value="id">StudentID</option>
		                      			<option value="last">Last Name</option>
		                      			<option value="first">First Name</option>
		                      		</select>
                      			</td>
                      		</tr>
                      	</table>
                      </form>  
                      </div>              
                      <div class="row">
							<form>
								<div class="formFrameNoCol">
									<table class="table table-striped">
										<thead>
											<tr>
												<th class="col-xs-1">StudentID</th>
												<th class="col-xs-2">Last Name</th>
												<th class="col-xs-2">First Name</th>
												<th class="col-xs-1">Gender</th>
												<th class="col-xs-2">Phone Number</th>
												<th class="col-xs-1">Year</th>
												<th class="col-xs-2"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="member:${members}">
												<td th:text="${member.member.stuId}">001</td>
												<td th:text="${member.firstName}">Chea</td>
												<td th:text="${member.lastName}">Bunchay</td>
												<td th:text="${member.gender}">Male</td>
												<td th:text="${member.phoneNumber}">099999999</td>
												<td th:text="${member.member.academicYear}">2030</td>
												<td>
													<a th:href="'/admin/student/edit?id='+${member.id}">
														<button type="button" class="button button-blue" name="button">Edit</button>
													</a>
													<a th:href="'/admin/student/delete?id='+${member.id}">
														<button type="button" class="button button-red" name="button">Delete</button>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
