<!DOCTYPE html>
<html lang="en">

<head th:fragment="style">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
	<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/jsnew/vendor/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/jsnew/bootstrap.min.js}"></script>
    
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<style>
	.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
	</style>
</head>

<!-- sidebar -->

<div id="sidebar-wrapper" th:fragment="sidebar">
    <ul class="sidebar-nav">
        <li id="sidebar-content">
			<span class="fa fa-book">Library</span>
		</li>
		<li id="profile-header">
			<div class="profile-image">
				<img th:src="@{/image/16265773_1121742681270303_4699852749486757536_n.jpg}" alt=""/>
			</div>
			<p>Admin Name</p>
			<p>Admin</p>
		</li>
        <li>
            <a th:href="@{/admin}"><span class="fa fa-book"></span>View Books</a>
        </li>
        <li>
            <a th:href="@{/admin/book/add}"><span class="fa fa-plus"></span>Add New Book</a>
        </li>
        <li>
            <a th:href="@{/admin/category/view}"><span class="fa fa-eye"></span>Category</a>
        </li>
        <li>
            <a th:href="@{/admin/student/view}"><span class="fa fa-eye"></span>View Students</a>
        </li>
        <li>
            <a th:href="@{/admin/student/new}"><span class="fa fa-plus"></span>Add New Students</a>
        </li>
        <li>
            <a th:href="@{/admin/book/checkout}"><span class="fa fa-shopping-cart"></span>Checkout Book</a>
        </li>
        <li>
            <a th:href="@{/admin/book/return}"><span class="fa fa-check"></span>Return Book</a>
        </li>
		<li>
			<a th:href="@{/logout}"><span class="fa fa-sign-out"></span>Logout</a>
		</li>
    </ul>
</div>
<div class="panel-footer" th:fragment="pagination">
		<div class="container text-center">
			<ul class="pagination" id="pagination" style="margin-right: 35px;">
				<li th:classappend="${1 == currentPage ? 'disable-links':''}">
					<a th:href="'?cat='+ ${parameter} + '&amp;page=' + ${currentPage-1}">Prev</a>
				</li>
				<li th:if="${currentPage &gt; 3 and total &gt; 5}">
					<a th:href="'?cat='+ ${parameter} +'&amp;page='+ '1'">1</a>
				</li>
			    <li th:if="${currentPage &gt; 4 and total &gt; 5}">
			        <span>...</span>
			    </li>
			    <li th:if="${total &lt; 6}" th:each="i : ${#numbers.sequence(1,total+1)}" th:class="${i==currentPage}?active:''">
			    	<a  th:href="${'?cat='+ parameter +'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
			    </li>
				<li th:if="${currentPage &gt; 3 and currentPage &lt; total-1 and total &gt; 5}" th:each="i : ${#numbers.sequence( currentPage-2, currentPage+2)}" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?cat='+ parameter +'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &lt; 4 and total &gt; 5}" th:each="i : ${#numbers.sequence( 1, currentPage+2) }" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?cat='+ parameter+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &gt; total-2 and currentPage &gt; 3 and total &gt; 5}" th:each="i : ${#numbers.sequence (total-2, total+1)}" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?cat='+ parameter+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &lt; total-2 and total &gt; 5}">
			        <span>...</span>
			    </li>
			    <li th:if="${currentPage &lt; total-1 and total &gt; 5}">
					<a th:href="'?cat='+ ${parameter}+'&amp;page='+${total+1}" th:inline="text">
						[[${total+1}]]<span></span>
					</a>
				</li>
				<li th:classappend="${total + 1 == currentPage ? 'disable-links':''}"><a th:href="'?cat='+ ${parameter}+'&amp;page='+ ${currentPage+1}">Next</a></li>
			</ul>
			
		</div>
	</div>
</html>