<head th:fragment="style">

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/simple-sidebar.css}" rel="stylesheet" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link th:href='@{https://fonts.googleapis.com/css?family=Khula:400,800,700,600,300}'
		rel='stylesheet' type='text/css' />
	<link rel="stylesheet" th:href="@{/css/cssnew/owl.carousel.css}" />
	<link rel="stylesheet" th:href="@{/css/cssnew/responsive.css}" />
	<link rel="stylesheet" th:href="@{/css/cssnew/panel_with_navbar.css}" />
	<link rel="stylesheet" th:href="@{/css/cssnew/Footer-with-button-logo.css}" />
	<link rel="stylesheet" th:href="@{/css/col15.css}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	
</head>
<div th:fragment="script">
<!-- jquery-1.11.3.min js
		============================================ -->
	<script th:src="@{js/jsnew/vendor/jquery-1.11.3.min.js}"></script>
<script th:src="@{js/jsnew/owl.carousel.min.js}"></script>
	

	<!-- bootstrap js
		============================================ -->
	<script th:src="@{js/jsnew/bootstrap.min.js}"></script>

	<!-- owl.carousel.min js
		============================================ -->
	<script th:src="@{js/jsnew/owl.carousel.min.js}"></script>

	<!-- jquery.nivo.slider.pack js
        ============================================ -->
	<script th:src="@{js/jsnew/jquery.nivo.slider.pack.js}"></script>

	<!-- jqueryui js
        ============================================ -->
	<script th:src="@{js/jsnew/jquery.fancybox.js}"></script>

	<!-- jquery.scrollUp.min js
        ============================================ 
	<script th:src="@{js/jsnew/jquery.scrollUp.min.js}"></script> -->

	<!-- wow js
		============================================ -->
	<script th:src="@{js/jsnew/wow.js}"></script>

	<!-- jquery.meanmenu js
        ============================================ -->
	<script th:src="@{js/jsnew/jquery.meanmenu.js}"></script>

	<!-- plugins js
		============================================ -->
	<script th:src="@{js/jsnew/plugins.js}"></script>

	<!-- main js
		============================================ -->
	<script th:src="@{js/jsnew/main.js}"></script>
	
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	
	$('#auto').keyup(function(){
		var $auto = $('#auto');
		var keyword = $(this).val();
		var category = $('#category').find(":selected").val();
		var array = [] ;
		$.ajax({
	        type: 'GET',
	        url: '/auto-complete?query='+keyword+'&category='+category,
	        
	        success:function(data){
	        	var obj = jQuery.parseJSON(data);
	        	$.each(obj, function(index, item) {
	        		array.push(item.title);
	       		})
	       		$auto.autocomplete({
				    source: array
				  }).autocomplete( "instance" )._renderItem = function( ul, item ) {
	        		return $( "<li></li>" )
	                .data( "item.autocomplete", item )
	                .append( "<a href='" +item.title "'></a>" )
	                .appendTo( ul );
	        	};
	       	}
	   })
	});
	
	/*]]>*/
	</script>
</div>

<header th:fragment="header">
<nav class="navbar navbar-inverse" style="background-color: #333745;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#responsive_menu"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">WebSiteName</a>
				</div>
				<div class=" collapse navbar-collapse" id="responsive_menu">
					<ul class="nav navbar-nav ">
						<li class="active"><a href="/">HOME</a></li>
						<li><a href="#">CONTACT US</a></li>
						<li><a href="#">ABOUT US</a></li>
					</ul>
					<form class="navbar-form navbar-right" th:action="@{/search}" method="get">
						<div class="">
							<select width="30%" id="category" class="form-control" name="category">
								<option value="">Select Category</option>
								<option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
							</select>
							<div class="input-group ui-widget">
								<input type="text" id="auto" name="keyword" class="form-control" placeholder="Search" required="required"/>
					        	
					        </div>							
						</div>
					</form>
				</div>
			</div>
		</nav>
</header>
<div th:fragment="book">
<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 10px;margin-bottom: 10px;padding-left: 0px;padding-right: 0px;" >  
       	<div class="col-xs-6 col-sm-6 col-md-6" align="center">
<a th:href="'/detail?id='+${book.id}">
	<img style="max-height:200px" class="img-responsive img-box img-thumbnail" th:src="${book.thumbnailUrl}"/> 
		</a>
	</div> 
	<div class="col-xs-6 col-sm-6 col-md-6">
		<a th:href="'/detail?id='+${book.id}"><h4 th:text="${book.title}">Gilead: A novel</h4></a>
		<div>
			<p th:text="'Author: '+${book.author}">Author:</p>
			<p th:text="${book.description}">Testing book</p>
		</div>
		
	</div>
</div>
</div>
<footer id="myFooter" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h2 class="logo">
					<a href="#"> LOGO </a>
				</h2>
			</div>
			<div class="col-sm-2">
				<h5>Get started</h5>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Sign up</a></li>
					<li><a href="#">Downloads</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>About us</h5>
				<ul>
					<li><a href="#">Company Information</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Reviews</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>Support</h5>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Help desk</a></li>
					<li><a href="#">Forums</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="social-networks">
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a
						href="#" class="facebook"><i class="fa fa-facebook"></i></a> <a
						href="#" class="google"><i class="fa fa-google-plus"></i></a>
				</div>
				<button type="button" class="btn btn-default">Contact us</button>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<p>© 2017 Copyright Text</p>
	</div>
</footer>
<div class="panel-footer" th:fragment="pagination">
		<div class="container  text-right">
			<ul class="pagination" id="pagination">
				<li th:classappend="${1 == currentPage ? 'disable-links':''}">
					<a th:href="'?category='+ ${parameter} + '&amp;page=' + ${currentPage-1}">Prev</a>
				</li>
				<li th:if="${currentPage &gt; 3 and total &gt; 5}">
					<a th:href="'?category='+ ${parameter} +'&amp;page='+ '1'">1</a>
				</li>
			    <li th:if="${currentPage &gt; 4 and total &gt; 5}">
			        <span>...</span>
			    </li>
			    <li th:if="${total &lt; 6}" th:each="i : ${#numbers.sequence(1,total+1)}" th:class="${i==currentPage}?active:''">
			    	<a  th:href="${'?category='+ parameter +'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
			    </li>
				<li th:if="${currentPage &gt; 3 and currentPage &lt; total-1 and total &gt; 5}" th:each="i : ${#numbers.sequence( currentPage-2, currentPage+2)}" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?category='+ parameter +'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &lt; 4 and total &gt; 5}" th:each="i : ${#numbers.sequence( 1, currentPage+2) }" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?category='+ parameter+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &gt; total-2 and currentPage &gt; 3 and total &gt; 5}" th:each="i : ${#numbers.sequence (total-2, total+1)}" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?category='+ parameter+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &lt; total-2 and total &gt; 5}">
			        <span>...</span>
			    </li>
			    <li th:if="${currentPage &lt; total-1 and total &gt; 5}">
					<a th:href="'?category='+ ${parameter}+'&amp;page='+${total+1}" th:inline="text">
						[[${total+1}]]<span></span>
					</a>
				</li>
				<li th:classappend="${total + 1 == currentPage ? 'disable-links':''}"><a th:href="'?category='+ ${parameter}+'&amp;page='+ ${currentPage+1}">Next</a></li>
			</ul>
			
		</div>
	</div>
	<div th:fragment="page-script">
			<script>
				$( document ).ready(function() {
					 $('.disable-links').click(function(e){
					     e.preventDefault();
					  })
					 $('.disable-links > a').css('color','black');
					 $('.disable-links').css('pointer-events','none');
				});
			</script>
	</div>