/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    overflow-x: hidden;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-content{
    line-height: 40px;
    background-color: rgb(1, 81, 131);
    color: white;
    font-size: 26px;
}
#profile-header {
    background-image: url("../image/Ultimate-Material-Lollipop-Collection1.png");
    background-size: cover;
    height: 150px;
    background-position: bottom;
    text-align: center;
    padding: 10px 0;
    margin-left: -20px;
    color: white;
    font-weight: bold;
}
#profile-header .profile-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#menu{
    line-height: 40px;
    background-color: rgb(0, 100, 164);
    width: 100%;
    color: white!important;
    padding: 0 15px;
}
#menu a{
    color: white;
}
.sidebar-nav li span{
    margin-left: -20px;
    margin-right: 5px;
}
.sidebar-nav li a:hover, .sidebar-nav .active{
    background-color: rgb(204, 236, 255);
    border-left: 3px solid rgb(0, 123, 193);
    color: white!important;
}
.sidebar-nav .active a{
    color: rgb(0, 71, 93);
}
.sidebar-nav li:hover a{
    color: rgb(0, 71, 93)!important;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}



.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
