.profile img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

table .book-row td img{
  height: 40px;
}
table td{
	vertical-align: middle !important;
	padding-bottom: 3px !important;
	padding-top: 3px !important;
}
.button{
	border: 0px;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bold;
	color: white;
	margin: 5px 0px;
}
.button-blue{
	text-shadow: 0px -1px 0px #000;
	background-color: #337ab7;
	border-bottom: #00688B 3px solid;
}
.button-red{
	text-shadow: 0px -1px 0px #000;
	background-color: #d9534f;
	border-bottom: #c9302c 3px solid;	
}
.button-blue:hover{
	background-color: rgb(0, 103, 170);
}
.button-red:hover{
	background-color: rgb(168, 0, 45);
}
.formFrameNoCol{
	border: 3px solid #337ab7;
	margin-top: 20px;
	padding: 20px;
}
.formFrame{
	border: 3px solid #337ab7;
	margin-top: 20px;
	padding: 20px;
}
.formFrame tr td:FIRST-CHILD{
	/*width: 200px;*/
}
.formFrame tr td:NTH-CHILD(2){
	/*width: 80%;*/
}
.formFrame input:NOT([type="checkbox"]), select{
	background-color: white;
	width: 100%;
	height: 30px;
	border: solid 2px #337ab7;
}
.formFrame input[type="radio"]{
	width: 15px;
	vertical-align: middle;
	margin-right: 10px;
}
.cateForm tr td:NTH-CHILD(2) {
	width: 60%;
}
.cateForm tr td:NTH-CHILD(3) {
	padding-left:20px;
}
.formFrame .profileContainer{
	margin-left: 20px;
	display: block;
}
.formFrame .profileContainer img{
	width: 100%;
	height: 100%;
}
.formFrame .profileContainer .proImgCon{
	border: 2px solid #337ab7;
	display: block;
	width: 180px;
	height: 200px;
}
.formFrame .profileContainer button{ 
	margin-top:5px;
	width: 100%;
}
.formFrame .profileContainer input[type="file"]{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	z-index: -1;
}
@media (max-width: 768px) {
	.formFrame .profileContainer .proImgCon{
		border: 2px solid #337ab7;
		display: block;
		width: 100%;
		height: 300px;
	}
}
.formFrame .profileContainer .fileCon{
	margin: 5px 0px;
	border-radius: 3px;
	width: 67%;
	line-height:30px;
	text-align: center;
	text-shadow: 0px -1px 0px #000;
	background-color: #337ab7;
	border-bottom: #00688B 3px solid;
	color: white;
	cursor: pointer;
	overflow: hidden;
	z-index: 100;
}
.formFrame .profileContainer .fileCon:hover{
	background-color: rgb(0, 103, 170);
}
.inputForm label{
	margin: 0px 0px 10px 0px;
}

.inputForm input:NOT([type="checkbox"]){
	border: solid 2px #337ab7;
	border-radius: 0px;
	width: 100%;
}
.inputForm .textArea{
	width: 100%;
	height: 100px;
	resize: none;
	border: solid 2px #337ab7;
}







