<!DOCTYPE html>
<html>
<head th:include="fragments/master::style"></head>

<title></title>
<style>
.heading {
    padding: 10px 15px;
    margin: 15px 0 10px -15px;
    background: #f2d13e;
}
.heading, .heading a {
    color: #fff;
}

img{
    max-width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}
h3, .h3 {
    font-size: 21px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Slab",Georgia,"Times New Roman",Times,serif;
    font-weight: 700;
    line-height: 1.5;
    color: inherit;
}
@media (min-width : 992px) {
  .si{
    padding-left: 40px;
    padding-right: 0px;
  }
}
@media (max-width : 667px) {
  .si{
    margin-left: 5px;
    padding-right: 25px;
    
  }
}
.label-info {
    background-color: #f2d13e;
}
hr {
    border-top: 1px dotted #f2d13e;
}
.row {
    margin-right: 0px;
    margin-left: 0;
}
.btn-link {
    color: #777777;
}
.pull-top {
    vertical-align: top;
}
.pull-bottom, .pull-top, .pull-middle {
    float: none;
    display: inline-block;
    margin-right: -4px;
}
@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	    float: left;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	    float: left;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	    position: relative;
	    min-height: 1px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.pull-bottom, .pull-top, .pull-middle {
	    float: none;
	    display: inline-block;
	    margin-right: -4px;
	}
}

</style>
<title>Detail</title>
<body>
	<header th:replace="fragments/master::header"></header>
<div>
	<div class="col-md-9 col-sm-8 col-xs-12 col-md-push-3 col-sm-push-4">
	    <div class="row">
	        <div class="col-md-3">
	            <div class="text-center">
	              <a href="#">
	              <img  alt="" th:src="${dbook.thumbnailUrl}" />
	              </a>
	            </div>  
	        </div>
	        <div class="col-md-6">
	            <h3 property="name" class="item-title"><span class="notranslate" th:text="${dbook.title}">My not so perfect life : a novel  </span>
	            	<small>by <a th:href="${'/author?name='+dbook.author}" th:text="${dbook.author}">Kinsella, Sophie,</a></small>      
	            </h3>
	            <h4>
	            	<span class="label label-info iconlabel book">Book</span>
	            </h4>
	            <p th:text="${dbook.description}">When Katie Brenner is fired from her dream job in advertising in London, she's desperate to get away from her mad boss Demeter, and her crush, Alex, who she thought shared her feelings of adoration but didn't. Seeking refuge, she goes home to her father's farm in Somerset to help make her stepmother's dream of turning their land into a glamping retreat come true. Applying her savvy marketing smarts, Katie masterminds a glamorous upscale resort. But when Demeter shows up unnannounced, with Alex not far behind, Katie is forced to rethink her revenge fantasies and her assumptions about family, love, and office politics and realize how much she may have misjudged everyone--and everything--around her.</p>
	        </div>
	        <div class="col-md-3">
	        	<!--<div>
	            	<a class="btn btn-lg btn-success ladda-button" data-style="slide-up" href="#" onclick="_gaq.push(['_trackEvent', 'VuFind', 'Record', 'Place Hold']);"><span class="ladda-label">Place Hold</span><span class="ladda-spinner"></span></a>
	          	</div> -->
	          	<br/>
	          	<div>
	            	<p>
		            	<strong>Total Copies</strong>: <span th:text="${dbook.amount}">20</span><br/>
		            	<strong>Available</strong>: <span th:text="${dbook.available}">0</span><br/>
		           <!-- <strong>Holds</strong>: 39-->
	           		</p> 
	          	</div>
	        </div>
	    </div>
	    <div style="margin-left:15px;margin-right:15px;">
	    	<br/>
	            <h4>Description</h4>
	            <div>
	                <ul class="list-unstyled">
	                    <li>
	                        <b>Published Year: </b>
	                        <span th:text="${dbook.publishYear}" property="publicationDate">2017</span>
	                        <br/>
	                    </li>
	                    <li>
	                        <b>ISBN: </b><span th:text="${dbook.isbn}">9780812998269, 081299826X</span>
	                    </li>
	                    <li>
	                        <b>Edition: </b><span th:text="${dbook.edition}">First edition.</span>
	                    </li>
	                    <li>
	                        <b>Physical Description: </b>438 pages 
	                    </li>
	                </ul>
	            </div>
	    	<hr/>
	    		<h4>Holdings</h4>
		    <div class="row">
		        <p><strong th:text="${dbook.available + ' Available'}">0  Available</strong><span th:text="', '+ ${dbook.amount - dbook.available} + ' Not available'">, 20 Not Available</span></p>
			    <div class="table-responsive">
				    <table id="locations" class="table table-hover library-holding-table">
					    <tbody>
					      <tr>
					        <th>Name: </th>
					        <th>Major: </th>
					        <th>School: </th>
					        <th>Borrow date: </th>
					        <th>Return date: </th>
					    <!--    <th>Notes: </th> -->
					      </tr>
					      <tr class="holdings-row hiding text-muted" style="display: table-row;" th:if="${borrowers}" th:each="borrower : ${borrowers}">
					        <td>
					            <span th:text="${borrower.user.firstName + ' '+ borrower.user.lastName}">Vandy Sodanheang</span>
					        </td>
					        <td>
					        	<span th:text="${borrower.user.member.major}">CS</span>
					        </td>
					        <td>
					        	<span th:text="${borrower.user.member.school}"></span>
					        </td>
					        <td>
					        	<span th:text="${#dates.format(#calendars.createForTimeZone(#calendars.year(borrower.borrowDate), #calendars.month(borrower.borrowDate), #calendars.day(borrower.borrowDate),'PST'), 'dd,MMMM,yyyy')}">March 9, 2017</span>
					        </td>
					        <td>
					        	<span th:text="${#dates.format(#calendars.createForTimeZone(#calendars.year(borrower.dueDate), #calendars.month(borrower.dueDate), #calendars.day(borrower.dueDate),'PST'), 'dd,MMMM,yyyy')}">March 9, 2017</span>
					        </td>
					        <td></td>
					      </tr>
					    </tbody>
				    </table>
				</div>
			</div>
		</div>
	</div>
	<div class="si col-md-3 col-sm-4 col-xs-12 col-md-pull-9 col-sm-pull-8" >
	    <h4 class="heading">Similar Items</h4>
	    <ul class="list-unstyled row" th:if="${fbooks}">
	      <li class="col-xs-3 col-sm-6 col-md-4 pull-top" th:each="fbook : ${fbooks}">
	        <div class="text-center">
	        	<a th:href="'/detail?id='+ ${fbook.id}">
	        		<img data-record-id="2070166" data-size="small" alt="" data-format="eBook" th:src="${fbook.thumbnailUrl}"/>
	          	</a>
	        </div>
	        <div class="small notranslate">
	        	<h6>
		        	<a th:href="'/detail?id='+ ${fbook.id}" th:text="${fbook.title}">My not so perfect life a novel</a>
		          	<small> by <a th:href="${'/author?name='+dbook.author}"><span th:text="${fbook.author}">Kinsella, Sophie,</span></a></small>
		        </h6>
	        </div>  
	      </li>
	    </ul>
	</div>
</div>
	

</body>
<footer th:replace="fragments/master::footer"></footer>
<div th:replace="fragments/master::script"></div>
</html>