<!DOCTYPE html>
<html>
<head th:include="fragments/master::style"></head>

<title></title>

<body>
	<header th:replace="fragments/master::header"></header>

	<!-- Start Recently Added -->
	<div>
		<div>
			<div class="container">
				<div class="area-title">
					<h3 style="display: inline">Recently Added</h3>
				</div>
			</div>
			<div class="featured-product-area">
				<div class="container">
					<div class="row">
						<div class="featured-product">
							<div class="featured-item">
								<!-- Start Recently Added item -->
								<div class="col-sm-12" th:each="book : ${books}">
									<div th:include="fragments/master::book"></div>
								</div>
								<!-- End Recently Added item -->
							</div>
						</div>
					</div>
					<div class="row">
					<a style="display: inline" class="pull-right" th:href="@{/more}">See
						more</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Recently Added -->


	<div class="container ">
		<div class="area-title ">
			<h3>Category</h3>
		</div>
		<div class="row">
			<div class="col-md-12" style="border:10px dash blue">
				<div class="panel with-nav-tabs panel-default">
					<div class="panel-heading ">
						<ul class="nav nav-tabs">
							<li th:each="category,index : ${categories}"
								th:class="${index.index==0?'active':''}">
								<a
									th:href="${'#tab'+index.index}" data-toggle="tab">
									<h4 th:text="${category.name}">Category</h4>
								</a>
							</li>
						</ul>
					</div>

					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in"
								th:each="category,index : ${categories}"
								th:classappend="${index.index==0?'active':''}"
								th:id="${'tab' + index.index}">
								<!-- Start featured product -->
								<div>
									<div>
										<div class="featured-product-area">
											<div class="container">
												<div class="row">
													<div class="featured-product">
														<div class="featured-item" style="margin-left: -30px;">
															<!-- Start featured item -->
															<div class="col-sm-12 col-xs-12"
																th:each="book : ${category.books}">
																<div th:include="fragments/master::book"></div>
															</div>
															<!-- End featured item -->

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End featured product -->
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<br />
</body>
<footer th:replace="fragments/master::footer"></footer>
<div th:replace="fragments/master::script"></div>
</html>
