<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8"></meta>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>Librarian Sign in</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<style>
		.vertical-offset-100{
		    padding-top:100px;
		}
	</style>
	
</head>
<head th:include="fragments/master::style"></head>

<body>
<header th:replace="fragments/master::header"></header>
<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
				<form th:action="@{/login}" method="post" th:Object="${user}">
					<div class="col-md-12">
						
						<div class="login-box animated fadeInUp">
							<div class="form-group">
								<div th:if="${param.error}" class="alert-danger"><font color="red">Invalid username or password.</font></div>
							    <input class="form-control" placeholder="User Name" name="username" type="text" required="required"/>
							</div>
							<div class="form-group">
							    <input class="form-control" placeholder="Password" name="password" type="password" required="required" />
							</div>
								<button class="btn btn-lg btn-success btn-block"  type="submit">Sign In</button>
								
								<br/>
								
							
						</div>
						</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<footer th:replace="fragments/master::footer"></footer>
</html>