<html>
<head th:include="fragments/master::style"></head>
<title>More</title>

<body>
	<header th:include="fragments/master::header"></header>
	<div class="container ">
		<div class="area-title ">
			<h3>Category</h3>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel with-nav-tabs panel-default">
					<div class="panel-heading ">
						<ul class="nav nav-tabs">
							<li th:classappend="${parameter=='' ? 'active':''}"><a th:href="@{/more}"><h4>All</h4></a></li>
							<li th:each="category,index : ${categories}" th:classappend="${parameter == category.name ? 'active':''}">
								<a th:href="${'/more?category='+category.name}">
									<h4 th:text="${category.name}">Category</h4>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<div th:each="book:${books}">
				<div th:replace="fragments/master::book"></div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/master::pagination"></div>
</body>

<footer th:replace="fragments/master::footer"></footer>
<div th:replace="fragments/master::script"></div>
<div th:replace="fragments/master::page-script"></div>
</html>