<!DOCTYPE html>
<html>
<head th:include="fragments/master::style"></head>

<title>Home</title>

<body>
	<header th:replace="fragments/master::header"></header>

	<!-- Start Recently Added -->
	<div>
		<div>
			<div class="container">
				<div class="area-title">
					<h3 style="display: inline">Recently Added</h3>
					
				</div>
				<div th:each="book : ${books}" class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 10px;margin-bottom: 10px;padding-left: 0px;padding-right: 0px;">  
	            	<div class="col-xs-6 col-sm-6 col-md-6" align="center">
						<a th:href="'/detail?id='+${book.id}">
							<img style="max-height:200px" class="img-responsive img-box img-thumbnail" th:src="${book.thumbnailUrl}"/> 
						</a>
					</div> 
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a th:href="'/detail?id='+${book.id}"><h4 th:text="${book.title}">Gilead: A novel</h4></a>
						<div>
							<p th:text="'Author: '+${book.author}">Author:</p>
							<p th:text="${book.description}">Testing book</p>
						</div>
						
					</div>
				</div>
					
			</div>
			
				<div class="container">
				<hr/>
					<div class="col-md-12">
						<a style="display: inline" class="pull-right" th:href="@{/more}">See more</a>
					</div>
				<hr/>
				</div>
				
		</div>
	</div>
	<!-- End Recently Added -->

<div class="container ">
	<div class="area-title ">
       <h3>Category</h3>
    </div>
	<div class="row">
    	<div class="col-md-12">
            <div class="panel with-nav-tabs panel-default" >
                <div class="panel-heading ">
                        <ul class="nav nav-tabs">
                            <li th:each="category,index : ${categories}"
								th:class="${index.index==0?'active':''}">
								<a
									th:href="${'#tab'+index.index}" data-toggle="tab">
									<h4 th:text="${category.name}">Category</h4>
								</a>
							</li>
                        </ul>
                </div>
                
                <div class="panel-body" style="padding-bottom: 0px;padding-left: 0px;padding-top: 0px;padding-right: 0px;">
                    <div class="tab-content">
                        <div class="tab-pane fade in"
                        		th:each="category,index : ${categories}"
								th:classappend="${index.index==0?'active':''}"
								th:id="${'tab' + index.index}">
							<div th:each="book : ${category.books}">
								<div th:include="fragments/master::book"></div>
							</div>
							
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>
        
	</div>
</div>

	<br />
</body>
<footer th:replace="fragments/master::footer"></footer>
<div th:replace="fragments/master::script"></div>
</html>
