<html>
<head th:replace="fragments/master::style"></head>
<title>Search Result</title>
<body>
	<header th:replace="fragments/master::header"></header>
	<div class="container">
		<h1>Search Result</h1>
		<hr style="margin: 10px 0;border: 1px solid #f00;"/>
		<p class="text-center" th:if="${no==''}">No results</p>
		<div th:each="book,index : ${books}">
			<div class="col-xs-12 col-sm-6 col-md-6"> 
            	<div class="col-xs-12 col-sm-5 col-md-4">
					<a th:href="${'/detail?id='+book.id}">
						<img th:src="${book.thumbnailUrl}" style="max-height:200px" class="img-responsive img-box img-thumbnail"/> 
					</a>
				</div> 
				<div class="col-xs-12 col-sm-7 col-md-8">
					<h4><a th:href="${'/detail?id='+book.id}" th:text="${book.title}"></a></h4>
					<div th:text="${'Author:'+book.author}"></div>
					<div th:remove="tag" th:utext="${book.description}"></div>
				</div>
			</div>
			<hr th:if="${index.index mod 2==1}" style="margin: 10px 0;border: 1px solid #f00;"/>
		</div>
	</div>
	<div class="panel-footer">
		<div class="container  text-right">
			<ul class="pagination" id="pagination">
				<li th:classappend="${1 == currentPage ? 'disable-links':''}">
					<a th:href="'?category='+ ${parameter} +'&amp;keyword='+${keyword} +'&amp;page=' + ${currentPage-1}">Prev</a>
				</li>
				<li th:if="${currentPage &gt; 3 and total &gt; 5}">
					<a th:href="'?category='+ ${parameter} +'&amp;keyword='+${keyword}+'&amp;page='+ '1'">1</a>
				</li>
			    <li th:if="${currentPage &gt; 4 and total &gt; 5}">
			        <span>...</span>
			    </li>
			    <li th:if="${total &lt; 6}" th:each="i : ${#numbers.sequence(1,total+1)}" th:class="${i==currentPage}?active:''">
			    	<a  th:href="${'?category='+ parameter +'&amp;keyword='+keyword+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
			    </li>
				<li th:if="${currentPage &gt; 3 and currentPage &lt; total-1 and total &gt; 5}" th:each="i : ${#numbers.sequence( currentPage-2, currentPage+2)}" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?category='+ parameter +'&amp;keyword='+keyword+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &lt; 4 and total &gt; 5}" th:each="i : ${#numbers.sequence( 1, currentPage+2) }" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?category='+ parameter+'&amp;keyword='+keyword+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &gt; total-2 and currentPage &gt; 3 and total &gt; 5}" th:each="i : ${#numbers.sequence (total-2, total+1)}" th:class="${i==currentPage}?active:''">
					<a  th:href="${'?category='+ parameter+'&amp;keyword='+keyword+'&amp;page='+ i}"  th:inline="text">
						[[${i}]] <span  class="sr-only"></span>
					</a>
				</li>
				<li th:if="${currentPage &lt; total-2 and total &gt; 5}">
			        <span>...</span>
			    </li>
			    <li th:if="${currentPage &lt; total-1 and total &gt; 5}">
					<a th:href="'?category='+ ${parameter}+'&amp;keyword='+${keyword}+'&amp;page='+${total+1}" th:inline="text">
						[[${total+1}]]<span></span>
					</a>
				</li>
				<li th:classappend="${total + 1 == currentPage ? 'disable-links':''}"><a th:href="'?category='+ ${parameter}+'&amp;keyword='+${keyword}+'&amp;page='+ ${currentPage+1}">Next</a></li>
			</ul>
			
		</div>
	</div>
	<footer th:replace="fragments/master::footer"></footer>
</body>
<div th:replace="fragments/master::script"></div>
</html>